// config file for rapid_cns2 nextflow

manifest.defaultBranch = 'main'

process.container = 'graefox/rapid_cns2:latest'
docker {
    enabled = 'true'
    docker.runOptions = '--cpus 64'
}

report {
    enabled = true
    overwrite = true
}


params.mgmt_pred = 'rapidCNS2/bin/mgmt_pred_v0.1.R'
params.probes = 'rapidCNS2/bin/mgmt_probes.Rdata'

params.model = 'rapidCNS2/bin/mgmt_137sites_mean_model.Rdata'
params.meth_class = 'rapidCNS2/bin/methylation_classification_nanodx_v0.1.R'
params.topprobes = 'rapidCNS2/bin/top_probes_hm450.Rdata'
params.trainingdata = 'rapidCNS2/bin/capper_top_100k_betas_binarised.Rdata'
params.arrayfile = 'rapidCNS2/bin/HM450.hg38.manifest.gencode.v22.Rdata'
params.threads = 64
params.filterreport = 'rapidCNS2/bin/filter_report_v0.1.R'
params.makereport = 'rapidCNS2/bin/make_report_v0.1.R'
params.report_UKHD = 'rapidCNS2/bin/Rapid_CNS2_report_UKHD_v0.1.Rmd'